<!-- Footer -->

<footer class="page-footer footerstyle font-small blue foot">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/" class="foot contact-style"> Aakash Saini</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->