
<div class="bd-example" align="center">
  <div id="carouselExampleCaptions" class="carousel slide "  data-ride="carousel">
    <ol class="carousel-indicators" style="color:#0bcbe4e6;">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active" ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1" ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2" ></li>

    </ol>
    <div class="carousel-inner contact-style ">
                   <h1 class="text-center main-heading" ><br><b>Gallery</b></h1>
                    <p class="text-center sub-heading">Things we may help you with.</p>

       <div class="carousel-item active">

            <div class="card " align="center" style="width: 50rem;border-radius: 20px;">
              <img class="card-img-top" src="https://images.pexels.com/photos/3182774/pexels-photo-3182774.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width: 50rem;border-radius: 20px 20px 0px 0px;" height="410px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title car " ><b>Web Development</b></h5>
                <p class="card-text">Web development is the building and maintenance of websites, it’s the work that happens behind the scenes to make a website look great, work fast and perform well with a seamless user experience.<br><br><br><br></p>
                {{!-- <a href="#" class="btn btn-primary">Go somewhere<br></a> --}}
              </div>
            </div>
      </div>    

      <div class="carousel-item ">
        
            <div class="card " align="center" style="width: 50rem;border-radius: 20px;">
              <img class="card-img-top" src="https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width: 50rem;border-radius: 20px 20px 0px 0px;" height="410px" alt="Card image cap" >
              <div class="card-body">
                <h5 class="card-title car"><b>Software Development</b></h5>
                <p class="card-text">Software development is the process of conceiving, specifying, designing, programming, documenting, testing, and bug fixing involved in creating and maintaining applications, frameworks, or other software components.<br><br><br></p>
                {{!-- <a href="#" class="btn btn-primary">Go somewhere<br></a> --}}
              </div>
            </div>

      </div>

      <div class="carousel-item ">
          <div class="d-flex justify-content-center"></div>

            <div class="card " align="center" style="width: 50rem;border-radius: 20px;">
              <img class="card-img-top" src="https://images.pexels.com/photos/3861958/pexels-photo-3861958.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width: 50rem;border-radius: 20px 20px 0px 0px;" height="430px"   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title car"><b>App Development</b></h5>
                <p class="card-text">Application development signifies the code development and deployment of all the computer applications we use today.<br><br><br><br></p>
                {{!-- <a href="#" class="btn btn-primary">Go somewhere<br></a> --}}
              </div>
            </div>
      </div>
      
    </div>
    <a class="carousel-control-prev "    href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
