
   <div class="container-fluid mt-5 about-style" id="serviceid">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">Our Services</h1>
                    <p class="text-center sub-heading">grow your business with us.</p>
                    <div class="row">

                        <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services settings">
                                                       <div class="icon">
                                                              <img src="https://image.flaticon.com/icons/png/128/4052/4052932.png" class="animated" ="110px" alt="server issue">

                                                        </div>        
                                                              <h4>Settings</h4> 
                                                              <p>Settings Lets You Customize The Website To Fit Your Preferences.<br></p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services speedup">
                                                       <div class="icon">
                                                                           <img src="https://image.flaticon.com/icons/png/128/3064/3064835.png" class="animated" ="110px" height="95px"   alt="server issue">

                                                        </div>        
                                                              <h4>Speedup</h4> 
                                                              <p>Speedup Is The Improvement In Speed Of Execution Of A Task With Different Resources.</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services privacy">
                                                       <div class="icon">
                                                              <img src="https://image.flaticon.com/icons/png/128/3064/3064211.png" class="animated"  width="110px" height="95px" alt="server issue">

                                                        </div>        
                                                              <h4>Privacy</h4> 
                                                              <p>Privacy Establishes Limit Who Can Access Our Website As Well As Our Information.</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>
                             <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services backups">
                                                       <div class="icon">
                                                              <img src="https://image.flaticon.com/icons/png/128/3427/3427386.png" class="animated"  width="110px" height="100px"  alt="server issue">

                                                        </div>        
                                                              <h4>Backups</h4> 
                                                              <p>Backup Stores The Copy Of The Computer Data So That It May Be Used To Restore The Original Data After A Data Loss Event.</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services ssl">
                                                       <div class="icon">
                                                              <img src="https://i.imgur.com/v6OnUqu.png" class="animated"  height="100px" alt="server issue">

                                                        </div>        
                                                              <h4>SSL secured</h4> 
                                                              <p>SSL Is The Standard Technology For Keeping The Internet Connection Secure And Safegaurding Any Sensitive Data.</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                <div class="col-md-4">
                                    <div class="box">
                                             <div class="our-services database">
                                                       <div class="icon">
                                                              <img src="https://image.flaticon.com/icons/png/128/3908/3908242.png" class="animated"  height="100px" alt="server issue">

                                                        </div>        
                                                              <h4>Database</h4> 
                                                              <p>Databases Helps For The Storage, Retrieval, Modification, And Deletion Of Data With Various Data-Processing Operations.</p>    
                                               </div>
                                               
                                     </div>
                                     
                              </div>

                                
                                  
                     </div>
               </div>
           </div>
     </div>
